@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@namespace url("http://www.w3.org/1999/xhtml");
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
}

h2 {
  font-size: 48px;
  padding: 16px;
  font-weight: 500;
}

h2::before {
  content: "│";
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin !important;
}

:root {
  scrollbar-color: #0DE5D7 #2C2C2D !important;
  scrollbar-width: thin !important;
}

.header {
  height: 100vh;
  background-image: url("./images/trucks1.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
  background-color: rgba(32, 32, 32, 0.8);
}

.header > div > div {
  display: block;
  width: 100%;
}

.header .Countdown-col {
  display: inline-block;
}

.header .Countdown-col-element {
  display: inline-block;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header .Countdown-col-element strong {
  font-size: 500%;
}

.miniheader {
  height: 400px;
  max-height: 100vh;
  background-image: url("./images/trucks2.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.miniheader > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.8);
}

.miniheader > div > div {
  display: block;
  width: 100%;
}

.miniheader h3 {
  font-weight: 300;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.navbar img {
  height: 100%;
}

.navbar div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar div a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 100px;
  padding: 0 16px;
  font-size: 20px;
  color: white;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  text-align: center;
}

.navbar div a:hover {
  background-color: white;
  color: #2C2C2D;
}

.showBackground {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #2C2C2D;
}

.about {
  background-color: #202020;
}

.about p {
  text-align: center;
  font-size: 150%;
  padding: 1% 2%;
}

.discord {
  background-color: #202020;
}

.discord > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 28px;
  padding: 1%;
}

.discord > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
}

.discord > div div span {
  font-size: 52px;
}

.discord > div div a {
  color: #0DE5D7;
}

.discord > div div a:hover {
  text-decoration: underline;
}

.team {
  background-color: #202020;
}

.team > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.team > div > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 16px;
}

.team > div > div > span {
  font-size: 28px;
}

.team > div > div span:nth-child(3) {
  font-size: 22px;
  font-weight: 300;
  color: #0DE5D7;
}

.team > div img {
  height: 150px;
  width: 150px;
}

.team > div span {
  display: block;
  padding: 8px;
}

.team .section-header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.team .section-header h3 {
  font-size: 2em;
}

.team .section-header h5 {
  font-size: 1.3em;
  font-weight: 300;
}

.convoyInfo {
  background-color: #2C2C2D;
}

.convoyInfo .convoyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 28px;
  padding: 1%;
}

.convoyInfo .convoyContainer span:first-of-type {
  margin-left: 12px;
}

.convoyInfo .convoyContainer .cInformations {
  width: 40%;
  padding: 4px;
  margin-left: 2%;
}

.convoyInfo .convoyContainer .cInformations span:nth-child(3) {
  color: #0DE5D7;
  font-weight: 300;
}

.convoyInfo .convoyContainer .cMap {
  width: 50%;
  text-align: center;
}

.convoyInfo .convoyContainer .cMap img {
  margin-top: 12px;
  width: 100%;
}

.footer {
  background-color: #2C2C2D;
  color: grey;
  font-weight: 300;
  text-align: center;
  padding: 32px;
}

.footer a:hover,
.footer .disbld:hover {
  text-decoration: underline;
}

.footer .disbld {
  cursor: not-allowed;
}

.joinus {
  height: 100vh;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: rgba(32, 32, 32, 0.8);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-form form {
  color: black;
  background-color: white;
  padding: 16px 0;
  text-align: center;
  border-radius: 10px;
}

.login-form form > div {
  float: right;
  margin-right: 16px;
  margin-left: -16px;
}

.login-form form > div:hover {
  cursor: pointer;
}

.login-form form span[name=messagebox] {
  color: maroon;
  font-size: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.login-form form span {
  font-size: 32px;
}

.login-form form input {
  padding: 4px 8px;
  width: 80%;
}

.login-form form input[type=submit] {
  width: 50%;
  margin-top: 8px;
}

.dashboardContainer {
  min-height: 100vh;
  background-color: #202020;
  padding-top: 96px;
}

.dashboardContainer h3 {
  font-size: 36px;
  padding: 16px;
  font-weight: 500;
}

.dashboardContainer h2::before {
  content: none;
}

.dashboardContainer h3::before {
  content: "│";
}

.dashboardContainer form {
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.dashboardContainer form > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.dashboardContainer form label {
  display: block;
  padding: 4px;
  font-size: 16px;
}

.dashboardContainer form input {
  padding: 4px 8px;
  width: 80%;
}

.dashboardContainer form input[type=submit] {
  display: block;
  width: 50%;
  margin-top: 8px;
  -ms-flex-preferred-size: 94%;
      flex-basis: 94%;
}

.dashboardContainer form input::-webkit-outer-spin-button,
.dashboardContainer form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dashboardContainer form input[type=number] {
  -moz-appearance: textfield;
}

.dashboardContainer form input[type=checkbox] {
  float: left;
  margin: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dashboardContainer form .chkbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboardContainer #mtt_config {
  margin: 0 32px;
}

.dashboardContainer #mtt_config .section span {
  display: block;
}

.dashboardContainer #mtt_config .section span:nth-child(1) {
  font-size: 32px;
}

.dashboardContainer #mtt_config .section span:nth-child(2) {
  font-size: 20px;
}

.dashboardContainer #mtt_config .section button {
  padding: 4px 8px;
}

.dashboardContainer #mtt_config .section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dashboardContainer #mtt_config .section .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
  max-width: 350px;
  padding: 4px;
  margin: 4px;
}

.dashboardContainer #mtt_config .section .container form input {
  width: 85%;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
/*# sourceMappingURL=styles.css.map */